Debug/*
MOS_6502_Emulator/Debug/*
UT_MOS_6502_Emulator/Debug/*
.vs/*
UT_MOS_6502_Emulator/test.bin
MOS_6502_Executable/Debug/*
MOS_6502_Executable/Release/*
MOS_6502_Executable/x64/*
MOS_6502_Emulator/x64/*
MOS_6502_Emulator/Release/*
